html,
body {
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
}

.bg {
	position: relative;
	border: 1px solid #ddd;
	overflow: hidden;
     width: auto;
     height: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px;
    justify-content: center;
}

.bg img {
	vertical-align: middle;
    width: auto;
    height: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.bg:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.centered-right {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #ddd;
    text-align: left;
    float: right;
    width: 50%;
}

h2{
    font-style: italic;
    margin-bottom: 0;
}

h3{
    text-decoration: underline;
    font-variant-caps: all-petite-caps;
    margin-top: 0;
    padding-top: 0;
}

.centered-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ddd;
    font-size: 50px;
    font-variant-caps: all-petite-caps;
    float: left;
    width: 50%;
}

@media screen and (max-width: 1024px){
    .centered-right {
        position: absolute;
        top: 20%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
        color: #ddd;
        text-align: left;
        width: 80%;
    }
    .centered-left {
        position: absolute;
        bottom: 30%;
        left: 50%;
        display: flex;
    }

    .bg {
        position: relative;
        border: 1px solid #ddd;
        overflow: hidden;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        justify-content: center;
        height: 700px;
        width: auto;
        text-align: center;
    }

    .bg img {
        vertical-align: middle;
        width: auto;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        height: 700px;
    }
}

@media screen and (max-width: 274px){
    .centered-right {
        position: absolute;
        top: 30%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
        color: #ddd;
        text-align: left;
        width: 80%;
    }
    .centered-left {
        position: absolute;
        bottom: 170%;
        left: 50%;
        display: flex;
    }
}

.btn{
    border-radius: 0 !important;
    background-color: darkgoldenrod;
    color: white;
}

.btn:hover{
    background-color: navy;
    color: white;
}
